body {
    
}
#str
{
    position:relative;
    display:none;
    top:50%;
    left:35%;
    height:100px;
    width:100px;
    background-color:red;
    border-radius:50px;
    font-size:15px;
    color:white;
    font-style:bold;
}
b
{

    color:#ff4500;
    font-family: 'Averia Gruesa Libre';
    font-size: 22px;
}
#bt
{
    
    
    position:relative;
    height:15px;
    width:15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color:#6c1f30;
    background-image:url("http://www.sololearn.com/uploads/slider/2.jpg");
    display:none;
    opacity:(0.7);
}
#in
{
    display:none;
    font-family: 'Averia Gruesa Libre';
    color:#ff0405;
    font-size:20px;
}
#in1
{
    display:none;
    font-family: 'Averia Gruesa Libre';
    color:#ff0405;
    font-size:20px;
}
#list
{
    display:none;
}
#con
{
    display:none;
    color:#ff0202;
    
}
#el
{
    display:none;
    font-family: 'Averia Gruesa Libre';
    color:#ff0405;
    font-size:20px;
    
}
#en
{
    position:relative;
    display:none;
    top:50%;
    left:35%;
    height:100px;
    width:100px;
    background-color:red;
    border-radius:50px;
    font-size:15px;
    color:white;
    font-style:bold;
}
#im
{
    display:none;
    position:fixed;
    height:100%;
    width:100%;
}
#time
{
    position:relative;
    font-size:25px;
    color:black;
    text-shadow: 0 0 3px pink, 0 0 5px lightpink;
    
}
#ii
{
    opacity:0.6;
}
